* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroylight;
}

body, html {
    width: 100%;
    height: 100%;
    font-size: 25px;
}

#container {
    text-align: center;
    justify-content: center;
    padding: 25px;
    height: 100%;
    width: 100%;
    background-color: skyblue;
}

h1 {
    color: whitesmoke;
    padding: 50px;
}

#main {
    align-items: center;
    background-color: white;
    height: 30%;
    width: 50%;
    margin: 0 auto; /* Centering horizontally */
    border-radius: 30px;
    display: flex;
    border: 2px solid white;
}

.button {
    height: 30%;
    width: 40%;
    margin-right: 10px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

#btn1 {
    background-color: skyblue;
}

#btn2 {
    background-color: orangered;
}

#btn3 {
    background-color: pink;
}

#btn4 {
    background-color: violet;
}

#btn5 {
    background-color: orange;
}

#reset button {
    margin: 40px auto; /* Centering horizontally */
    width: 20%;
    height: 50px;
    font-size: 25px;
    background-color: black;
    color: white;
    font-weight: 500;
    border-radius: 30px;
    border: 2px solid whitesmoke;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #main {
        width: 80%; /* Adjusting width for smaller screens */
    }

    .button {
        width: 45%; /* Adjusting button width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    #main {
        width: 90%; /* Adjusting width for even smaller screens */
    }

    .button {
        width: 100%; /* Making buttons full width for very small screens */
        margin-bottom: 10px; /* Adding some space between buttons */
    }
}
